body {
  font-family: Lato, sans-serif;
  color: #000;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}

h1 {
  margin-top: 0px;
  margin-bottom: 40px;
  font-family: Oswald, sans-serif;
  font-size: 3vw;
  line-height: 1.1;
  font-weight: 500;
  text-transform: uppercase;
}

h2 {
  margin-top: 0px;
  margin-bottom: 30px;
  font-family: Oswald, sans-serif;
  font-size: 50px;
  line-height: 55px;
  font-weight: 400;
  text-transform: uppercase;
}

h3 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: Oswald, sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

h4 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Oswald, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

a {
  color: #000;
  text-decoration: underline;
}

.navbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1080px;
  height: 15vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.hero {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 85vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
}

.content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.right-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.right-column.navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.right-column.pile {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.right-column.middle {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.navigation-links {
  margin-right: 20px;
  padding: 5px 10px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  background-color: #fff;
  font-family: Oswald, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
}

.navigation-links:hover {
  box-shadow: 7px 7px 0 0 #000;
}

.navigation-links.last {
  margin-right: 0px;
}

.inner-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1100px;
  max-width: 1100px;
  margin-bottom: 100px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.inner-content.pile {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.inner-content.cta2 {
  margin-bottom: 20px;
}

.inner-content.embed {
  margin-bottom: 50px;
}

.inner-content.headline-container {
  width: 1100px;
  margin-bottom: 0px;
}

.left-column {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.left-column.navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.left-column.top {
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.left-column.pile {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.left-column.pile.text-padding {
  width: 50%;
  padding-right: 15%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.left-column.text-padding {
  padding-right: 15%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.left-column.text-padding.headline {
  padding-right: 10%;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.topic-card {
  margin-bottom: 30px;
  padding: 15px;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  border: 8px solid #000;
}

.topic-card.right {
  max-width: 70%;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.sticky-heading {
  position: -webkit-sticky;
  position: sticky;
  top: 30px;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.call-to-action {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #000;
  color: #fff;
}

.call-to-action.gallery-margin {
  margin-bottom: 100px;
}

.call-to-action.video-spacer {
  margin-bottom: 100px;
}

.gallery {
  display: -ms-grid;
  display: grid;
  width: 100%;
  grid-auto-columns: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-areas: ".";
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto 30px auto;
  grid-template-rows: auto auto;
}

.gallery-item {
  position: relative;
  display: block;
  overflow: hidden;
  max-height: 310px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 8px solid #000;
}

.gallery-item.cta-item {
  padding: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #000;
  background-image: none;
}

.testimonials {
  display: -ms-grid;
  display: grid;
  margin-bottom: 40px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  grid-auto-columns: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.testimonials.teachers {
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.testimonial {
  position: relative;
  padding: 30px;
  border: 8px solid #000;
  background-color: #fff;
}

.baloon-edge {
  position: absolute;
  left: 5px;
  top: auto;
  right: auto;
  bottom: -46px;
}

.third-column {
  width: 30%;
}

.third-column.pile {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.user-testimonial {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin-top: 20px;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.image {
  width: 90px;
}

.div-block-3 {
  margin-right: 20px;
}

.heading {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.body {
  color: #000;
}

.numbers {
  display: -ms-grid;
  display: grid;
  width: 100%;
  margin-bottom: 70px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.number {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  font-size: 50px;
}

.numbers-copy {
  display: -ms-grid;
  display: grid;
  width: 100%;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.video-container {
  display: block;
  align-self: flex-start;
  grid-auto-columns: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-areas: "Area . Area-3" "Area Area-2 Area-3" ". Area-2 .";
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: minmax(220px, 1fr) 30px minmax(220px, 1fr) 30px minmax(220px, 1fr);
  grid-template-rows: minmax(220px, 1fr) minmax(220px, 1fr) minmax(220px, 1fr);
}

.video {
  border: 8px solid #000;
  background-color: #fff;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/example-bg.png');
  background-position: 50% 50%;
  background-size: cover;
}

.teacher {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 340px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 8px solid #000;
  box-shadow: 11px 11px 0 0 #000;
}

.teacher-description {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  z-index: 2;
  width: 100%;
  padding: 20px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(60%, rgba(0, 0, 0, 0.48)), to(rgba(0, 0, 0, 0.82)));
  background-image: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.48) 60%, rgba(0, 0, 0, 0.82));
  color: #fff;
}

.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-logo {
  margin-bottom: 20px;
}

.cta-text {
  margin-bottom: 40px;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.body-2 {
  font-family: Oswald, sans-serif;
  font-weight: 300;
}

.body-3 {
  font-family: Oswald, sans-serif;
}

.body-3-copy {
  font-family: Oswald, sans-serif;
}

.text-block {
  font-size: 20px;
}

.button {
  margin-right: 20px;
}

.regular-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  margin-right: 20px;
  padding-right: 30px;
  padding-left: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  font-family: Oswald, sans-serif;
  color: #000;
  font-weight: 700;
  white-space: nowrap;
}

.regular-button.black {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  border-radius: 40px;
  background-color: #000;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
}

.regular-button.black.mb-20 {
  margin-bottom: 20px;
}

.regular-button.hollow-black {
  border-style: solid;
  border-width: 5px;
  border-color: #000;
  border-radius: 40px;
  font-size: 14px;
}

.hollow-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
  padding: 10px 20px;
  border-style: solid;
  border-width: 8px;
  border-color: #fff;
  background-color: #000;
  font-family: Oswald, sans-serif;
  color: #fff;
}

.hollow-white-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  margin-right: 20px;
  padding-right: 30px;
  padding-left: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #000;
  box-shadow: inset 0 0 0 8px #fff;
  font-family: Oswald, sans-serif;
  color: #fff;
  font-weight: 700;
}

.button-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.small-txt {
  font-size: 14px;
}

.user-details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.user-details.ml {
  margin-left: 80px;
}

.heading-2 {
  margin-bottom: 0px;
}

.scroll-down {
  position: absolute;
  left: 50%;
  top: auto;
  right: 50%;
  bottom: 5vh;
  display: none;
}

.image-2 {
  max-width: 50%;
  margin-top: -5vh;
}

.video-2 {
  max-width: 100%;
}

.video-3 {
  margin-top: -50%;
}

.heading-hero {
  margin-bottom: 20px;
  font-size: 3vw;
}

.html-embed {
  margin-bottom: 100px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.text-block-2 {
  margin-left: 20px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  font-weight: 700;
}

.text-block-3 {
  margin-right: 20px;
  font-weight: 700;
}

.html-embed-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 50px;
  min-width: 50px;
  margin-right: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  border-radius: 50px;
  background-color: #000;
  font-size: 30px;
}

.html-embed-2.telegram {
  padding-right: 3px;
  background-color: #08c;
}

.html-embed-2.whatsapp {
  background-color: #25d366;
}

.background-video {
  width: 690px;
  height: 400px;
}

.html-embed-3 {
  width: 100%;
  height: 100%;
}

.div-block-5 {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-areas: ". Area Area";
  -ms-grid-columns: 1fr 16px 1fr 16px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.teacher-item {
  margin-bottom: 20px;
}

.div-block-6 {
  padding-left: 10px;
  background-color: #000;
  color: #fff;
}

.heading-7 {
  margin-left: 40px;
}

.testimonial-item {
  margin-bottom: 60px;
}

.heading-8 {
  text-align: center;
}

.text-block-4 {
  margin-bottom: 40px;
  text-align: center;
}

.cta-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.number-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  font-size: 18px;
}

.heading-9 {
  margin-bottom: 20px;
}

.heading-10 {
  text-align: center;
}

.fourth {
  width: 30%;
}

.fourth.pile {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.heading-11 {
  margin-bottom: 5px;
  line-height: 18px;
}

.heading-12 {
  margin-top: 0px;
}

.div-block-8 {
  overflow: hidden;
  margin-top: -50%;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.teacher-pic {
  height: 100%;
}

@media screen and (max-width: 991px) {
  h1 {
    font-size: 40px;
    white-space: nowrap;
  }
  .content {
    margin-bottom: 20px;
  }
  .right-column.navigation.middle {
    display: none;
  }
  .right-column.pile {
    width: 100%;
  }
  .right-column.middle {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .inner-content {
    width: 100%;
    margin-bottom: 60px;
    padding-right: 11%;
    padding-left: 11%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .left-column.pile.text-padding {
    width: 100%;
    margin-bottom: 40px;
  }
  .call-to-action.gallery-margin {
    margin-bottom: 570px;
  }
  .gallery {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    grid-row-gap: 30px;
    grid-template-areas: ".";
    -ms-grid-rows: auto 30px auto 30px auto 30px auto;
    grid-template-rows: auto auto auto auto;
  }
  .gallery-item {
    display: none;
    min-height: 130px;
  }
  .testimonials {
    display: -ms-grid;
    display: grid;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .testimonials.teachers {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
  .testimonial {
    min-height: 0px;
  }
  .third-column.pile {
    width: 100%;
  }
  .third-column.pile.testimonial {
    width: 100%;
  }
  .third-column.pile.baloon {
    width: 100%;
  }
  .video-container {
    width: 100%;
    margin-bottom: -170px;
  }
  .video {
    height: auto;
  }
  .teacher {
    height: 360px;
  }
  .teacher-description {
    right: -19px;
    bottom: -18px;
  }
  .fourth.pile {
    width: 100%;
  }
  .fourth.pile.testimonial {
    width: 100%;
  }
  .fourth.pile.baloon {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .hero {
    height: auto;
    margin-bottom: 100px;
  }
  .right-column.middle {
    width: 100%;
  }
  .inner-content.pile {
    padding-right: 10%;
    padding-left: 10%;
  }
  .inner-content.headline-container {
    width: 100%;
    padding-right: 10%;
    padding-left: 10%;
  }
  .left-column.pile.text-padding {
    padding-right: 0%;
  }
  .left-column.text-padding {
    width: 100%;
    padding-right: 0%;
  }
  .left-column.text-padding.headline {
    width: 100%;
    padding-right: 0%;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
  .call-to-action.gallery-margin {
    margin-bottom: 100px;
  }
  .gallery {
    margin-bottom: 0px;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .testimonials {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .testimonials.teachers {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    grid-auto-columns: 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .video-container {
    display: none;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
  .video {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .footer {
    padding-right: 20%;
    padding-left: 20%;
  }
  .cta-text {
    text-align: left;
  }
  .cta-text.heading {
    text-align: center;
  }
  .regular-button.black.mb-20 {
    width: 100%;
  }
  .button-group {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
  .small-txt {
    text-align: center;
  }
  .heading-hero {
    font-size: 40px;
    text-align: center;
    white-space: normal;
  }
  .background-video {
    height: 260px;
    margin-bottom: 50px;
  }
  .heading-5 {
    font-size: 39px;
    white-space: normal;
  }
  .heading-6 {
    white-space: normal;
  }
  .div-block-5 {
    grid-column-gap: 16px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
  }
  .teachers {
    text-align: center;
  }
  .div-block-6 {
    padding-left: 0px;
    text-align: center;
  }
  .div-block-7 {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 46px;
    white-space: normal;
  }
  .navbar {
    width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .content {
    margin-bottom: 20px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .right-column.navigation.middle {
    display: none;
  }
  .right-column.pile {
    margin-bottom: 40px;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }
  .right-column.middle {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .inner-content {
    width: 100%;
    margin-bottom: 40px;
    padding-right: 20px;
    padding-left: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .inner-content.pile {
    padding-right: 20px;
    padding-left: 20px;
  }
  .left-column {
    width: 100%;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }
  .left-column.pile.text-padding {
    width: 100%;
    margin-bottom: 60px;
    padding-right: 0%;
  }
  .left-column.text-padding {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }
  .call-to-action.video-spacer {
    margin-bottom: 60px;
    padding-top: 40px;
  }
  .gallery {
    grid-auto-flow: row;
    grid-auto-rows: minmax(auto, 100px);
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    grid-template-areas: ".";
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto 8px auto;
    grid-template-rows: auto auto;
  }
  .gallery-item {
    min-height: 120px;
    background-color: #000;
  }
  .testimonials {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .testimonials.teachers {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .third-column.pile {
    width: 100%;
    margin-bottom: 40px;
  }
  .video-container {
    width: 100%;
    margin-bottom: 0px;
  }
  .video {
    height: auto;
  }
  .teacher {
    height: 350px;
    margin-right: 30px;
  }
  .footer {
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
  }
  .regular-button {
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .button-group {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .button-group.inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .image-2 {
    margin-top: -10vh;
    padding-right: 20px;
    padding-left: 20px;
  }
  .heading-3 {
    font-size: 46px;
  }
  .video-3 {
    -webkit-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
  }
  .div-block-5 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .testimonial-item {
    margin-bottom: 20px;
  }
  .fourth.pile {
    width: 100%;
    margin-bottom: 40px;
  }
}

#w-node-50ec6348783f-2ac1e0ea {
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  -ms-grid-column: 3;
  grid-area: Area-2;
}

#w-node-f5efdd2c164a-2ac1e0ea {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: Area;
}

.div-block-5>#w-node-f5efdd2c164a-2ac1e0ea {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
}

#w-node-3339cfddd5e9-2ac1e0ea {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 5;
  grid-area: Area-3;
}

#w-node-b924834bfb5d-2ac1e0ea {
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-cd18d2125152-2ac1e0ea {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: Area;
}

.div-block-5>#w-node-cd18d2125152-2ac1e0ea {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
}

#w-node-50ec6348783f-484aef27 {
  -ms-grid-column: 4;
  grid-column-start: 4;
  -ms-grid-column-span: 3;
  grid-column-end: 7;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-1e28f7f1e980-484aef27 {
  -ms-grid-column: 4;
  grid-column-start: 4;
  -ms-grid-column-span: 3;
  grid-column-end: 7;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-4cdeeb6bc02b-484aef27 {
  -ms-grid-column: 7;
  grid-column-start: 7;
  -ms-grid-column-span: 3;
  grid-column-end: 10;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-f5efdd2c164a-484aef27 {
  -ms-grid-column: 7;
  grid-column-start: 7;
  -ms-grid-column-span: 3;
  grid-column-end: 10;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-43d37ed3e9f3-484aef27 {
  -ms-grid-column-span: 3;
  grid-column-end: 4;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

@media screen and (max-width: 991px) {
  #w-node-5e3afcf1bdce-2ac1e0ea {
    -ms-grid-row: 3;
    grid-row-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
  }
  #w-node-50ec6348783f-2ac1e0ea {
    -ms-grid-column: 4;
    grid-column-start: 4;
    -ms-grid-column-span: 2;
    grid-column-end: 6;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }
  #w-node-c76cee5d40c5-2ac1e0ea {
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
  }
  #w-node-f5efdd2c164a-2ac1e0ea {
    -ms-grid-column: 3;
    grid-column-start: 3;
    -ms-grid-column-span: 3;
    grid-column-end: 6;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 2;
    grid-row-end: 4;
  }
  #w-node-3339cfddd5e9-2ac1e0ea {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 3;
    grid-column-end: 4;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }
  #w-node-b924834bfb5d-2ac1e0ea {
    -ms-grid-column-span: 5;
    grid-column-end: 6;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 5;
    -ms-grid-row: 4;
    grid-row-start: 4;
  }
  #w-node-bc4c8a2fe9ff-2ac1e0ea {
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
    -ms-grid-row: 2;
    grid-row-start: 2;
  }
  #w-node-50ec6348783f-484aef27 {
    -ms-grid-column: 4;
    grid-column-start: 4;
    -ms-grid-column-span: 2;
    grid-column-end: 6;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }
  #w-node-1e28f7f1e980-484aef27 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }
  #w-node-4cdeeb6bc02b-484aef27 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }
  #w-node-f5efdd2c164a-484aef27 {
    -ms-grid-column: 3;
    grid-column-start: 3;
    -ms-grid-column-span: 3;
    grid-column-end: 6;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 2;
    grid-row-end: 4;
  }
}

@media screen and (max-width: 767px) {
  #w-node-50ec6348783f-484aef27 {
    -ms-grid-column-span: 7;
    grid-column-end: 7;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }
  #w-node-1e28f7f1e980-484aef27 {
    -ms-grid-column-span: 7;
    grid-column-end: 8;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
  }
  #w-node-4cdeeb6bc02b-484aef27 {
    -ms-grid-column-span: 7;
    grid-column-end: 8;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
  }
  #w-node-f5efdd2c164a-484aef27 {
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
    -ms-grid-column: 7;
    grid-column-start: 7;
    -ms-grid-column-span: 3;
    grid-column-end: 10;
  }
  #w-node-43d37ed3e9f3-484aef27 {
    -ms-grid-column-span: 10;
    grid-column-end: 10;
  }
  #w-node-e8c198e4e99f-484aef27 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
  #w-node-83c9eaece375-484aef27 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
  #w-node-31d40b563468-484aef27 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
}

@media screen and (max-width: 479px) {
  #w-node-5e3afcf1bdce-2ac1e0ea {
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 2;
    grid-row-end: 3;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 4;
    grid-column-end: 5;
  }
  #w-node-50ec6348783f-2ac1e0ea {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 4;
    grid-column-end: 5;
    -ms-grid-row: 5;
    grid-row-start: 5;
    -ms-grid-row-span: 2;
    grid-row-end: 7;
  }
  #w-node-c76cee5d40c5-2ac1e0ea {
    -ms-grid-row: 4;
    grid-row-start: 4;
    -ms-grid-row-span: 3;
    grid-row-end: 7;
    -ms-grid-column: 5;
    grid-column-start: 5;
    -ms-grid-column-span: 4;
    grid-column-end: 9;
  }
  #w-node-f5efdd2c164a-2ac1e0ea {
    -ms-grid-column: 5;
    grid-column-start: 5;
    -ms-grid-column-span: 4;
    grid-column-end: 9;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 3;
    grid-row-end: 4;
  }
  #w-node-3339cfddd5e9-2ac1e0ea {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 4;
    grid-column-end: 5;
    -ms-grid-row: 3;
    grid-row-start: 3;
    -ms-grid-row-span: 2;
    grid-row-end: 5;
  }
  #w-node-b924834bfb5d-2ac1e0ea {
    -ms-grid-row: span 2;
    grid-row-start: span 2;
    -ms-grid-row-span: 2;
    grid-row-end: span 2;
    -ms-grid-column: span 8;
    grid-column-start: span 8;
    -ms-grid-column-span: 8;
    grid-column-end: span 8;
  }
}

